a<-4
a
axa
a+a
a-a
a*a
a_squared
a_squared<-a*a
sqrt(a_squared)
v<-c(0,1,2,3,4)
?c
is.vector(v)
mean(v)
var(v)
mean(v)
prod(v)
prod(v+1)
wing_width<-1.2
wing_width<-c(4.7,5.2,4.8)
?$
wing_width$2
wing_width$4.7
wing_width[2]
class(wing_width)
v<-(3,9,bat,5.7)
v<-(3,9,'bat',5.7)
v<-c(3,9,'bat',5.7)
class(v)
class(v[0])
v<-2p
v<-2P
v<-2L
v<-2I
v<-2M
v<-2m
v<-2cm
b<-NA
b
class(b)
is.logical(b)
b<-0/0
b
?is.nan
b
as.numeric(3.1)
as.integer(3.1)
as.roman(166)
as.numeric(XVI)
1E5
1E3
1E4
5e3
5e^3
5e2^3
a<-5
as.vector(a)
v1<-c(0.02,05,1)
v2<-c("a","bc","def","ghij")
v3<-c(TRUE,TRUE,FALSE)
mat1<-matrix(1:16,5,5)
mat1<-matrix(1:16,4,4)
mat1
mat1<-matrix(1:16,4,4, byrow=TRUE))
mat1<-matrix(1:16,4,4,byrow=TRUE))
mat1<-matrix(1:16,4,4,byrow=TRUE)
mat1
dim(mat1)
arr1<-array(1:50,c(5,5,2)
arr1<-array((1:50,c(5,5,2))
arr1<-array((1:50,c(5,5,2))
arr1<-array(1:50,c(5,5,2))
arr1
arr1[,,1]
arr1[,,2]
Col1<-1.10
Col1
Col1<-1:10
Col1
Col2<-LETTERS[1:10]
Col2
Col3<-runif(10)
Col3
df<-data.frame(Col1,Col2,Col3)
print(df)
names(df)<-c("My_first_column","My_second_column","My_third_column")
df
colnames(MyDF)
colnames(df)
str(df)
a<- as.factor(c(1,2))
a
class(a)
df$my_second_column<-as.character(df$my_second_column)
class(df$my_second_column)
str(df)
df(my_second_column)
df("my_second_column")
df[c("my_second_column")]
df[c("My_second_column")]
df["My_second_column"]
class(df$My_second_column)
df$My_second_column<-as.character(df$My_second_column)
class(df$My_second_column)
MyList <- list(species=c("Quercus robur","Fraxinus excelsior"), age=c(123, 84))
MyList
v
v<-c(0,1,2,3,4,5)
v[3]
v[-3]
v[c(1,4)]
mat1
mat1<-matrix(1:25,5,5,byrow=TRUE)
mat[1.2]
mat[1,2]
mat1[1,2]
mat1[1,3]
mat1[2,3]
mat1[2,4]
mat1[2,1]
mat1[2,0]
mat1[3,1]
a<-c(1,5)+2
a
x<-c(1,2) ; y<-c(5,3,9,2)
x;y
x+y
z=c(y,1)
z
v<-c(0,1,2,3,4)
v2<-v*2
v2
t(v)
v%*%t(v)
v3<-1:7
v3
v4<- c(v2,v3)
v4
species_name<-'Quercus robur'
species_name
paste('Quercus','robur')
paste('Quercus','robur',sep='i')
paste('Quercus','robur',sep=' ')
paste('Quercus','robur',sep='')
strsplit(species_name,' ')
log(v4)
abs(v4)
floor(v4)
ceiling(v4)
rnorm(10, m=0, sd=1)
runif(30, min=0, max=2)
set.seed(1235467)
rnorm(1)
set.seed(1235467)
set.seed(1235467)
rnorm(1)
rnorm(10)
q
q()
q()
q()
